.fav-list{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.fav-game-changed{
    background-color: red;
}
.fav-game-card{
    margin: 10px auto;
    padding: 10px;
    border: 1px solid antiquewhite;
    border-radius: 10px;
}
.fav-game-card h3 {
    margin-right: 50px;
}

.fav-game-describe{
    display: flex;
    align-items: center;
}

.fav-btn{
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 30px;
}

.fav-btn:hover{
    background-color: rgba(255, 255, 255, 0.301);
    color: #fff;
}

.fav-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.fav-card{
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #202d39;
    margin: auto;
    background: rgba( 0, 0, 0, 0.2 );
    text-decoration: none;
    color: #c7d5e0;
}

.fav-thumb{
    display: block;
    width: 175px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #13171e;
}

.fav-card:hover{
    background: rgba( 0, 0, 0, 0.4 );
}

.fav-prices :nth-child(2){
    text-decoration: line-through;
    color: gray;
}
.remove-btn{
    background-color: #13171e;
    text-align: center;
    padding-top: 25px;
    width: 40px;
}
.remove-btn:hover{
    cursor: pointer;
}