.deals-loader{
    width: fit-content;
    margin: auto;
}
.game-savings p{
        color: #a4d007;
        background: #4c6b22;
        padding: 0 4px;
        margin-top: 8px;
        border-radius: 5px
}
.game-savings{
    margin-right: 10px;
}
.available-store{
    font-size: 12px;
    color: #ffffff6b;
}
.available-store img{
    width: 15px;
    margin: 0 5px;
}