.store-price{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #202d39;
}

.store-price:hover {
    background: rgba( 0, 0, 0, 0.4 );
}

.store-price img {
    height: 20px;
    margin-right: 10px;
}

.store-price-info{
    display: flex;
    flex-direction: row;
}

.store-pricing{
    text-align: right;
}