.bg-white{
    background-color: #fff;
}
.container{
    max-width: 1145px;
}
.main-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 10px 10px;
}

.main-nav a {
    padding: 10px;
    margin: 0 5px;
    color: #58595b;
}

.main-nav a:hover {
    border-bottom: 1px solid #fff;
}

.nav-alert{
    align-self: center;
}

.home-container{
    display: flex;
    padding-top: 2em;
}

.game-list-rows{
    margin: 50px;
}
