*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

html,
body {
  height: 100%;
}

body {
  background: #1b2838;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
